<!DOCTYPE html>

<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>行程编辑页面</title>
    <link rel="stylesheet" href="public/js/jquery-ui-1.11.4/jquery-ui.min.css" type="text/css"/>
    <link rel="stylesheet" href="public/css/makeplan/plan.css" type="text/css"/>
    <link rel="stylesheet" href="public/css/makeplan/plan_right.css" type="text/css"/>
</head>

<body style="width: 100%;">
<div class="b_header_box">
    <div class="b_header">
        <div class="e_header_top clrfix">
            <h1 class="logo pngfix"><a href="http://travel.qunar.com/" target="_top"
                                       title="“去哪儿”旅游搜索引擎">Qunar.com去哪儿网</a>
            </h1>

            <div class="m_tr_list"><a href="http://www.qunar.com/" target="_top" title="首页">首页</a><a
                    href="http://flight.qunar.com/" target="_top" title="机票">机票</a><a href="http://hotel.qunar.com/"
                                                                                      target="_top" title="酒店">酒店</a><a
                    href="http://tuan.qunar.com/" target="_top" title="团购">团购</a><a href="http://package.qunar.com/"
                                                                                    target="_top" title="度假">度假</a><a
                    title="门票" target="_top" href="http://piao.qunar.com/">门票</a><a href="http://train.qunar.com/"
                                                                                    target="_top" title="火车票">火车票</a><a
                    class="selected" href="http://travel.qunar.com/" target="_top" title="攻略">攻略</a><a title="公寓"
                                                                                                       target="_top"
                                                                                                       href="http://gongyu.qunar.com/">公寓</a><a
                    title="当地人" target="_top" href="http://ddr.qunar.com/">当地人</a><a title="车车" target="_top"
                                                                                     href="http://car.qunar.com/">车车</a><a
                    title="骆驼书" target="_top" href="http://guide.qunar.com/">骆驼书</a><a title="客户端" target="_top"
                                                                                       href="http://app.qunar.com/">客户端</a>
            </div>
            <div class="m_tr_nav">
                <div id="js_msgTip" style="position: absolute; right: 660px; top: 35px;"></div>
                    <span class="login_panel" id="loginPanel"><a
                            href="http://user.qunar.com/login.jsp?ret=http%3A%2F%2Ftravel.qunar.com%2Fplan%2F5316588%2Fedit%23!dayOrder%3D3">登录</a> | <a
                            href="http://user.qunar.com/reg.jsp?ret=http%3A%2F%2Ftravel.qunar.com%2Fplan%2F5316588%2Fedit%23!dayOrder%3D3">注册</a>
                    </span><a href="http://travel.qunar.com/bbs/forum.php?mod=viewthread&tid=2838" class="feedback_link"
                              target="_blank">问题反馈</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>
